@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,400;1,800&family=Varela+Round&display=swap');

/* 초기화 */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

li {list-style: none;}

img {border: 0;}

body {
    height: 100vh;
    width: 100%;

    font-family: 'Poppins', sans-serif;
}

/* 헤더 */
header {
    border-bottom: 1px solid lightgray;
}

header nav {
    display: flex;
    margin: 0 10rem;
    justify-content: space-between;
}

header nav div {
    display: flex;
}

/* 헤더 로고 */
header nav div img {
    width: 200px;
}

/* 헤더 메뉴 */
header nav div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 200px;
    padding: 1rem
}

/* 헤더 폼 */
header nav #form {
    display: flex;
}

header nav #form #form-box {
    display: flex;
    padding: 1rem;
    gap: 1%;
}

#search-form input[type="search"]{
    background-color: rgb(218, 218, 218);
    padding: 0.5rem;
    width: 250px;
}

#login-form input[type="button"]{
    background-color: transparent;
    padding: 0.5rem;
}

#register-form input[type="button"]{
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}

/* footer */
footer{
    color: white;
    display: flex;
    flex-direction: column;
}

/* footer-top */
#footer-top{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-top p{
    padding: 1rem 0;
}

#footer-top span{
    color:#ff256e
}

/* footer-bottom */
#footer-bottom{
    background-color: #282828;
    color: #848485;
    padding: 0 2rem;
}

/* footer-bottom-txt */
/* 서비스 이용약관~ */
#service {
    margin-top: 1.5rem;
}

#service ul{
    display: flex;
}

#service ul li:not(:last-child)::after {
    display: inline-block;
    width: 1px;
    height: 16px;
    margin: 5px 10px 0;
    vertical-align: top;
    content: "";
    background-color: #848485;
}

/* 고객센터~ */
#center {
    margin-top: 1rem;
}

#center ul{
    display: flex;
}

#center ul li:not(:last-child)::after {
    display: inline-block;
    width: 1px;
    height: 16px;
    margin: 5px 10px 0;
    vertical-align: top;
    content: "";
    background-color: #848485;
}

/* 미니 프로젝트~ */
#corp-info {
    margin-top: 1rem;
}

#corp-info ul{
    display: flex;
}

#corp-info ul li:not(:last-child)::after {
    display: inline-block;
    width: 1px;
    height: 16px;
    margin: 5px 10px 0;
    vertical-align: top;
    content: "";
    background-color: #848485;
}

/* 로고와 회사 권리 */
#corp-rights {
    margin-top: 0.2rem;
}

#corp-rights ul{
    display: flex;
}

#corp-rights ul img{
    width:100px;
    filter: brightness(0.5);

    margin-right: 0.5rem;
}

/* footer-bottom-button */
#footer-bottom-button{
    padding: 0 2.5rem;
}

/* language */
#language{
    display: flex;
    justify-content: flex-end;
}

#language #language-form{
    padding: 0.5rem 0;
}

#language #language-form input[type="button"]{
    cursor: pointer;
    background-color: transparent;
    color: white;
}

/* sns-icon */
#sns-icon{
    display: flex;
    justify-content: flex-end;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

#sns-icon #sns-icon-list{
    display: flex;
}

#sns-icon #sns-icon-list i{
    margin-left: 0.7rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* section */
#main-section {
    margin: 0 10rem;
}

/* 이벤트 배너 */
#event-bottom{
    margin: 2rem 0;
}

#event-figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

#event-figure img{
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
}

/* 코멘트 */
#total-comment-container {
    margin-bottom: 3rem;
}

/* 코멘트 헤더 */
#comment-header{
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
}

#comment-header-guide p{
    font-weight: 600;
    font-size: 1.2rem;
}

#comment-header-guide{
    display: flex;
}

#comment-header .fa-question{
    padding: 7px;
    color: #848485;
    cursor: pointer;
}

#guide{
    display: none;
}

#total-comment-link{
    display: flex;
    color: #848485;;
}

#total-comment-link .fa-angle-right{
    padding: 5px;
    cursor: pointer;
}

/* 코멘트 섹션 */
#comment-list {
    padding: 0;

    display: flex;
    gap: 2%;
}

.comment-article {
    border: 0.1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1rem 1rem 0.5rem 1rem;
    color: #848485;

    display: flex;
    flex-direction: column;
}

/* 코멘트 헤더 - 닉네임 */
.comment-name-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;

    font-size: 0.8rem;    
}

.comment-profile-box {
    display: flex;
}

.comment-profile-box img {
    border-radius: 20px;
}

.comment-profile-box p {
    margin-left: 5px;
}

/* 코멘트 섹션 - 코멘트 */
.comment-c-container {
    display: flex;
    margin-bottom: 0.7rem;
}

.comment-c-container div {
    margin-left: 5px;
}

.comment-c-container .content-title {
    font-weight: 600;
    color: rgb(94, 93, 93);
}

.comment-c-container .content-comment {
    font-size: 0.85rem;
}

/* 코멘트 푸터 - 추천, 대댓 */
.comment-count-container {
    display: flex;
    padding-top: 0.3rem;
    border-top: 0.1px solid #e0e0e0;

    font-size: 0.9rem;
}

.comment-count-container div {
    display: flex;
}

.comment-count-container .thumbs-up {
    margin-right: 0.3rem;
}

.comment-count-container i {
    padding: 5px;
}

.comment-count-container p {
    padding: 2px;
}

/* 박스오피스 순위 */
#boxoffice-container{
    margin-bottom: 3rem;
}

.rank-container > p {
    font-weight: 600;
    font-size: 1.2rem;

    margin-bottom: 1rem;
}

.rank-list {
    padding: 0;

    display: flex;
    gap: 10px;
}

.rank-list li {
    width: 20%;
}

/* 포스터 */
.poster-link {
    display: flex;
    flex-direction: column;
}

.poster-box{
    display: flex;
    flex-direction: column;
    width: 100%;

    position: relative;

    margin-bottom: 0.5rem;
}

.poster-box img{
    border-radius: 5px;
    width: 100%;
}

.poster-box p {
    background-color: hsl(0, 0%, 0%, 0.8);
    color: white;
    width: 28px; height: 28px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;

    position: absolute;
    top: 8px;
    left: 8px;
}

/* 타이틀 */
.title-box{
    color: rgb(56, 56, 56);
    margin-bottom: 2.5rem;
}

.title-box p:first-child{
    font-size: 1.1rem;
    font-weight: 600;
}

.title-box p:nth-child(2){
    font-size: 0.9rem;
}

.title-box p:last-child{
    font-size: 0.8rem;
    color:#848485;
}

/* 공개예정작 섹션 */
#open-soon-container {
    display: flex;
    flex-direction: column;
}

#open-soon-list {
    display: flex;
    padding: 0;

    gap: 10px;
}

#open-soon-list li{
    /* width: cal(20%-10px); */
    width: 20%;
}

#open-soon-list li .content-container{
    display: flex;
    flex-direction: column;
}

#open-soon-list .poster-box img{
    border-radius: 5px 5px 0 0;
}

/* title-container */
#open-soon-title {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
}

#open-soon-title p {
    font-weight: 600;
    font-size: 1.2rem;
}

#open-soon-title div{
    padding: 7px;
    color: #848485;
    cursor: pointer;
}

/* open-soon-list */
/* poster-box */
#open-soon-list li .poster-box {
    width: 100%;
    margin-bottom: 0;
}

#open-soon-list li .poster-box img {
    width: 100%;
}

#open-soon-list li .poster-box p {
    width: 40px; height: 28px;
}

/* button-box */
#wanna-watch-box {
    display: flex;
    justify-content: space-between;

    padding: 0.5rem;
    color: white;
    background-color: #272727;
    font-size: 1rem;
    margin-top: -7px;
    border-radius: 0 0 5px 5px;
}

#wanna-watch-box > span {
    font-weight: 600;
}

/* 타이틀 박스 */
#open-soon-list #title-where {
    color: black;
    font-size: 1rem;
}

#open-soon-list #title-where span {
    color: #ff256e;
}

/* 이벤트 배너 2 */
#event-second-box {
    width: 100%;
    height: 340px;

    display: flex;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

/* 이벤트 이미지 박스 */
#event-image-box {
    background-image: url(https://an2-img.amz.wtchn.net/image/v2/MyrUXF8_GPaGrq0hagNRpg.png?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKd0lqb2lMM1l5TDNOMGIzSmxMM0J5YjIxdmRHbHZiaTh4TWpneE1USTBORFV6TVRJeU1qQTFOaUo5LlE2VHV5aUVCanllb2IwX3ZyMjJXYU5yUUlTU2JRVzhvQUctMHROM3JXbkE);
    width: 50%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px 0 0 5px;
}

/* 이벤트 텍스트 박스 */
#event-text-box {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #e0e0e0;
    border-radius: 0 5px 5px 0;
}

#event-text-box > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#event-text-box > div p {
    color: black;
}

#event-text-box > div > p:nth-child(2){
    color: rgb(138, 137, 137);
    font-size: 1.2rem;
}

#circle-logo-box {
    display: flex;
    margin-top: 0.5rem;
}

#circle-logo-box img {
    width: 1.2rem;
    margin-right: 3px;
}

#circle-logo-box p {
    font-size: 0.8rem;
    font-weight: 600;
}

#event-text-box > p {
    background-color: #ff256e;
    color: white;
    padding: 0.5rem 6rem;
    border-radius: 5px;
    
    margin-top: 1rem;
}

